*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./image/image2-2.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}
nav p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(13, 16, 209);
    cursor: pointer;
    left: 0;
}
nav{
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: rgb(190, 206, 221);
    padding: 10px 20px;


}
.logo{
    margin-top: 10px;
}
a{
    text-decoration: none;
    font-weight: 800;
    color: blue;
}

ul li {
    list-style-type: none;
    margin: 0 15px;
    margin-top: 10px;
}
nav ul{
    float: right;
    display: flex;
}
h1{
    margin-top: 250px;
    text-align: center;
    height: 500px;
    color: rgb(92, 96, 136)
}
button{

}